<div>

  <form  novalidate="novalidate" ng-submit="save()">
    
    <div class="form-group">
    <label>Akt:</label><br>
      <label >Naziv akta:</label>
      <input  class="form-control" ng-model="Akt.naziv" required required-err-type="requiredMy"/>
    </div>
   
    <div class="form-group">
    <label>Uvodni Deo:</label><br>
      <label>Predmet uredjivanja:</label>
      <input class="form-control" ng-model="Uvodni_deo.Predmet_uredjivanja"></input>
      
     
<!--       <input class="form-control" ng-model="Uvodni_deo.Definicija"></input> -->
    
   <label>Definicije:</label><br>
   <div>
    <div ng-repeat="item in items">
        Definicija
    	<input class="form-control" ng-model="Uvodni_deo.Definicija"></input>
    </div>
    <button ng-click="Definicija()">Dodaj definiciju</button>
    </div>
    </div>
 
    
    <div class="form-group">
      <label>Glavni deo:</label> <br>
      <label>Prava i obaveze:</label>
      <input class="form-control" ng-model="Glavni_deo.Prava_i_obaveze"></input>
    </div>
    
     <div class="form-group">
     <label>Ovlascenje:</label>
     <input class="form-control" ng-model="Ovlascenje.OvlasceniOrgan"></input>
     <label>Obim:</label>
     <input class="form-control" ng-model="Ovlascenje.Obim"></input>
     <label>Period vazenja:</label>
     <input class="form-control" ng-model="Ovlascenje.Period_vazenja"></input>
     </div>


      <div class="form-group">
      <label>Kazena odredba:</label><br>
      <label>Norma:</label>
      <input class="form-control" ng-model="Kaznena_odredba.Norma"></input>
      <label>Kaznjiva radnja i sankcija:</label><br>
      <label>Kaznjiva radnja:</label>
      <input class="form-control" ng-model="Kaznjiva_radnja_i_sankcija.Kaznjiva_radnja"></input>
      <label>Sankcija:</label>
      <input class="form-control" ng-model="Kaznjiva_radnja_i_sankcija.Sankcija"></input>
      </div>
   


      <div class="form-group">
      <label>Zavrsni deo:</label><br>
      <label>Prelazne odredbe:</label>
      <input class="form-control" ng-model="Zavrsni_deo.Prelazne_odredbe"></input>
      <label>Zavrsne odredbe:</label>
      <input class="form-control" ng-model="Zavrsni_deo.Zavrsne_odredbe"></input>
      <label>Datum</label>
      <div class="input-group">
        <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="Zavrsni_deo.Datum" is-open="dateOpened" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'dateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
      <label>Broj propisa</label>
      <input class="form-control" ng-model="Zavrsni_deo.Broj_propisa"></input>
      </div>
    
    
    
    <div>
        <button class="btn" type="submit">Sačuvaj</button>
        <button class="btn" ng-click="delete()">Obriši</button>
    </div>
    
    </form>
  
  
  
</div>