
   <div style="font-family:Helvetica"><br><h1 align="center" style="font-size:16pt; margin-top:93pt">KRIVI&#268;NI ZAKONIK</h1>
      
      <h2 align="center" style="font-size:12.2pt; margin-top:23pt">OP&#352;TI DEO</h2>
      <h2 align="center" style="font-size:12.2pt; margin-top:15pt">GLAVA PRVA</h2>
      <h2 align="center" style="font-size:11.3pt"> OSNOVNE ODREDBE</h2>
      <h2 align="center" style="font-size:11.3pt"> Nema krivinog dela niti kazne bez zakona</h2>
      <h2 align="center" style="font-size:10.4pt">&#268;lan 1.</h2>
      <div align="center">
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"> Nikome ne mo&#382;e biti izreena kazna ili druga krivina sankcija za delo
            koje pre nego &#353;to je uinjeno zakonom nije bilo odreeno kao krivino delo, niti mu
            se mo&#382;e izrei kazna ili druga krivina sankcija koja zakonom nije bila propisana pre
                        nego &#353;to je krivino delo uinjeno.
         </p>
      </div>
      <h2 align="center" style="font-size:11.3pt"> Nema kazne bez krivice</h2>
      <h2 align="center" style="font-size:10.4pt">&#268;lan 2.</h2>
      <div align="center">
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"> Kazna i mere upozorenja mogu se izrei samo uiniocu koji je kriv za
                        uinjeno krivino delo.
         </p>
      </div>
      <h2 align="center" style="font-size:11.3pt"> Osnov i granice krivinopravne prinude</h2>
      <h2 align="center" style="font-size:10.4pt">&#268;lan 3.</h2>
      <div align="center">
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"> Za&#353;tita oveka i drugih osnovnih dru&#353;tvenih vrednosti predstavlja
                        osnov i granice za odrevanje krivinih dela, propisivanje krivinih sankcija i njihovu
                        primenu, u meri u kojoj je to nu&#382;no za suzbijanje tih dela.
         </p>
      </div>
      <h2 align="center" style="font-size:11.3pt"> Krivine sankcije i njihova op&#353;ta svrha</h2>
      <h2 align="center" style="font-size:10.4pt">&#268;lan 4.</h2>
      <div align="center">
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"></p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(1)</span> Krivine sankcije su: kazne, mere upozorenja, mere bezbednosti i
                          vaspitne mere.
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(2)</span> Op&#353;ta svrha propisivanja i izricanja krivinih sankcija je suzbijanje
                          dela kojima se povreuju ili ugro&#382;avaju vrednosti za&#353;tiene krivinim
                          zakonodavstvom.
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(3)</span> Krivine sankcije se ne mogu izrei licu koje u vreme kada je delo
                          uinjeno nije navr&#353;ilo etrnaest godina. Vaspitne mere i druge krivine sankcije mogu
                          se izrei maloletniku pod uslovima propisanim posebnim zakonom.
         </p>
      </div>
      <h2 align="center" style="font-size:12.2pt; margin-top:15pt">GLAVA DRUGA</h2>
      <h2 align="center" style="font-size:11.3pt">VA&#381;ENJE KRIVINOG ZAKONODAVSTVA REPUBLIKE 
                 SRBIJE 
      </h2>
      <h2 align="center" style="font-size:11.3pt"> Vremensko va&#382;enje krivinog zakonodavstva</h2>
      <h2 align="center" style="font-size:10.4pt">Clan 5.</h2>
      <div align="center">
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"></p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(1)</span>  Na  uinioca  krivinog  dela  primenjuje  se  zakon  koji  je  va&#382;io  u 
                          vreme izvr&#353;enja krivinog dela. 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(2)</span>  Ako  je  posle  izvr&#353;enja  krivinog  dela  izmenjen  zakon,  jednom  ili 
                          vi&#353;e puta, primenie se zakon koji je najbla&#382;i za uinioca. 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(3)</span> Na  uinioca  krivinog  dela  koje  je  predvieno  zakonom  sa 
                          odreenim vremenskim trajanjem primenjuje se taj zakon, bez obzira na to kad mu 
                          se sudi, ako tim zakonom nije drukije odreeno. 
         </p>
      </div>
      <h2 align="center" style="font-size:11.3pt">Va&#382;enje krivinog zakonodavstva na teritoriji Srbije</h2>
      <h2 align="center" style="font-size:10.4pt"></h2>
      <div align="center">
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"></p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(1)</span>  Krivino  zakonodavstvo  Republike  Srbije  va&#382;i  za  svakog  ko  na 
                          njenoj teritoriji uini krivino delo. 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(2)</span>   Krivino  zakonodavstvo  Srbije  va&#382;i  i  za  svakog  ko  uini  krivino 
                          delo na domaem brodu, bez obzira gde se brod nalazi u vreme izvr&#353;enja dela.  
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(3)</span>   Krivino  zakonodavstvo  Srbije  va&#382;i  i  za  svakog  ko  uini  krivino 
                          delo  u  domaem  civilnom  vazduhoplovu  dok  je  u  letu  ili  u  domaem  vojnom 
                          vazduhoplovu,  bez  obzira  gde  se vazduhoplov nalazio  u  vreme  izvr&#353;enja krivinog 
                          dela. 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(4)</span>   Ako  je  u  sluajevima  iz  st.  1.  do  3.  ovog  lana  u  stranoj  dr&#382;avi 
                          pokrenut ili dovr&#353;en krivini postupak, krivino gonjenje u Srbiji preduzee se samo 
                          po odobrenju republikog javnog tu&#382;ioca.  
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(5)</span>  Krivino gonjenje stranca u sluajevima iz st. 1. do 3. ovog lana 
                          mo&#382;e se, pod uslovom uzajamnosti, ustupiti stranoj dr&#382;avi. 
         </p>
      </div>
      <h2 align="center" style="font-size:12.2pt; margin-top:15pt">GLAVA TREA</h2>
      <h2 align="center" style="font-size:11.3pt"> KRIVINO DELO</h2>
      <h2 align="center" style="font-size:11.3pt"> 1. Op&#353;te odredbe o krivinom delu</h2>
      <h2 align="center" style="font-size:11.3pt"> Krivino delo </h2>
      <h2 align="center" style="font-size:10.4pt">lan 14. </h2>
      <div align="center">
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"></p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(1)</span> Krivino delo je ono delo koje je zakonom predvieno kao krivino 
                            delo, koje je protivpravno i koje je skrivljeno. 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(2) </span> Nema krivinog dela ukoliko je iskljuena protivpravnost ili krivica, 
                            iako postoje sva obele&#382;ja krivinog dela odreena zakonom. 
         </p>
      </div>
      <h2 align="center" style="font-size:11.3pt"> 2. Poku&#353;aj krivinog dela</h2>
      <h2 align="center" style="font-size:11.3pt"> Pokusaj</h2>
      <h2 align="center" style="font-size:10.4pt">Clan 30</h2>
      <div align="center">
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"></p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span></span>  Ko  sa  umi&#353;ljajem  zapone  izvr&#353;enje  krivinog  dela,  ali  ga  ne 
                            dovr&#353;i, kaznie se za poku&#353;aj krivinog dela za koje se po zakonu mo&#382;e izrei kazna 
                            zatvora od pet godina ili te&#382;a kazna, a za poku&#353;aj drugog krivinog dela samo kad 
                            zakon izriito propisuje ka&#382;njavanje i za poku&#353;aj. 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(2)</span> Uinilac e se za poku&#353;aj kazniti kaznom propisanom za krivino 
                            delo, ili ubla&#382;enom kaznom. 
         </p>
      </div>
      <h2 align="center" style="font-size:11.3pt"> 3. Sauesni&#353;tvo u krivinom delu</h2>
      <h2 align="center" style="font-size:11.3pt"> Saizvr&#353;ila&#353;tvo </h2>
      <h2 align="center" style="font-size:10.4pt">Clan 33</h2>
      <div align="center">
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"> Ako  vi&#353;e  lica  uestvovanjem  u  radnji  izvr&#353;enja  zajednki  uine  ili  iz 
                          nehata  zajedniki  izvr&#353;e  krivino  delo,  ili  ostvarujui  zajedniku  odluku  drugom 
                          radnjom sa umi&#353;ljajem bitno doprinesu izvr&#353;enju krivinog dela, svako od njih kaznie 
                          se kaznom propisanom za to delo. 
         </p>
      </div>
      <h2 align="center" style="font-size:11.3pt"> Sticaj krivinih dela </h2>
      <h2 align="center" style="font-size:10.4pt">Clan 60</h2>
      <div align="center">
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"></p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(1)</span> Ako  je  uinilac  jednom  radnjom  ili  sa  vi&#353;e  radnji  uinio  vi&#353;e 
                          krivinih  dela za koja mu  se  istovremeno sudi,  sud e  prethodno utvrditi kazne  za 
                          svako od tih dela, pa e za sva ta dela izrei jedinstvenu kaznu. 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(2)</span> Jedinstvenu kaznu sud e izrei po sledeim pravilima: 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>1)</span>   ako je za neko od krivinih dela u sticaju utvrdio kaznu zatvora od 
                            trideset do etrdeset godina izrei e samo tu kaznu; 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>2)</span>  ako  je  za  krivina  dela  u  sticaju  utvrdio  kazne  zatvora,  povisie 
                            najte&#382;u  utvrenu  kaznu,  s  tim  da  jedinstvena  kazna  ne  sme  dostii  zbir  utvrenih 
                            kazni, niti prei dvadeset godina zatvora; 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>3)</span> ako su za sva krivina dela u sticaju propisane kazne zatvora do tri 
                          godine, jedinstvena kazna ne mo&#382;e biti vea od deset godina zatvora; 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>4)</span>  ako  je  za  krivina  dela  u  sticaju  utvrdio  samo  novane  kazne, 
                            izrei e jednu novanu kaznu u visini zbira utvrenih kazni, s tim da ona ne  sme 
                            prei osamnaest miliona dinara, a ako je utvrdio samo novane kazne u odreenim 
                            iznosima (lan 50), ona ne sme prei milion dinara odnosno deset miliona dinara kad 
                            su jedno ili vi&#353;e krivinih dela izvr&#353;eni iz koristoljublja; 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>5)</span> ako je za krivina dela u sticaju utvrdio samo kazne rada u javnom 
                            interesu,  izrei  e  jednu  kaznu  zatvora  u  javnom  interesu  u  visini  zbira  utvrenih 
                            asova rada, s tim da ona ne sme pre trista&#353;ezdeset asova, a vreme u kome se 
                            rad mora obaviti ne sme biti du&#382;e od &#353;est meseci; 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>6)</span>  ako je za neka krivina dela u sticaju utvrdio kazne zatvora, a za 
                            druga dela novane kazne, izrei e jednu kaznu zatvora i jednu novanu kaznu po 
                            odredbama t. 2. do 4. ovog stava. 
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(3)</span> Novanu kaznu kao sporednu kaznu sud e izrei ako je utvrena 
                          makar i za jedno krivino delo u sticaju, a ako je utvrdio vi&#353;e novanih kazni, izrei e 
                          jednu novanu kaznu u skladu sa odredbom stava 2. taka 4. ovog lana. Ako sud 
                          utvrdi  novanu  kaznu  kao  glavnu  kaznu,  a  utvrdi  i  novanu  kaznu  kao  sporednu 
                          kaznu, izrei  jednu novanu kaznu primenjujui pravila iz stava 2. taka 4. ovog 
                          lana.
         </p>
         <p align="justify" style="width: 400pt; text-indent: 80pt; font-size:10.4pt"><span>(4)</span>Ako  je  sud  za  krivina  dela  u  sticaju  utvrdio  kazne  zatvora  i 
                          maloletnikog  zatvora,  izrei  e  kaznu  zatvora  kao  jedinstvenu  kaznu  primenom 
                          pravila predvienih u stavu 2. taka 2. ovog lana. 
         </p>
      </div>
        
   </div>
